---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { id, title, description, pubDate, updatedDate, readTime, heroImage } = Astro.props;
---
<Layout siteDescription={description} image={heroImage}>
	<main>
		<article>
			<div class="hero-image">
				{
					heroImage && (
						<img width={1020} height={510} src={heroImage} alt=`hero-${id}-box`transition:name=`hero-${id}-box` />
					)
				}
			</div>
			<div>
				<div class="mb-4">
					<div class="date mt-4">
						<FormattedDate date={pubDate} /> {readTime && (<span>- {readTime} read</span>)}
						{
							updatedDate && (
								<p>
									Last updated on <FormattedDate date={updatedDate} />
								</p>
							)
						}
					</div>
          <div class="mt-2">
            <a class="underline underline-offset-4" href="/blog">Go back to blog</a>
          </div>
					<h1 class="mt-8">{title}</h1>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</main>
</Layout>
